<!DOCTYPE html>
<html>
<header>
	<meta charset='utf-8' />
	<link rel="stylesheet" href="../style.css"
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</header>
<body>
	<div class="container">
		 <h3> Добавление новостей </h3>
		 <form action="index.php" method="post">
		 	<label>
		 		Заголовок новости <input type="text" Size=70 name="title" required>
		 	</label>
			 <label>
			 	Текст <textarea  cols=60 rows=6 name="content" required></textarea>
			 </label>
			
			 <input type="Submit" Value="Сохранить">
			 <input type="reset" Value=" Очистить ">
		 </form>
	</div>
</body>
</html>
 